body {
    background-color: Linen; 
    color: rgb(70, 130, 180); 
    font-family: Arial; 
    margin: 0px;
}

main {
    color: rgb(70, 130, 180); 
    padding: 15px;
    font-size: 15pt;
}

footer {
    background-color: rgb(255, 229, 180); 
    color: rgb(70, 130, 180); 
    padding: 15px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
}

header {
    background-color: rgb(255, 229, 180); 
    color: rgb(70, 130, 180); 
    padding: 20px; 
    font-size: 25pt;
}
a {
    text-decoration: none
}
a:hover {
    color: Crimson;
    text-decoration: underline;
    text-shadow: 4px 3px 3px rgb(0, 128, 128, 0.5);
    background: linear-gradient(to right top, rgb(255, 222, 173), rgb(226, 223, 210))
}
a:active {
    color: black;
    opacity: 0.3;
}
a:link {
    color:  rgb(0, 128, 128,);
}
a:visited {
    color: MediumOrchid;
}