body {
    background-color: Linen; 
    color: rgb(70, 130, 180); 
    font-family: Arial; 
    margin: 0px;
}

main {
    color: rgb(70, 130, 180); 
    padding: 15px;
    font-size: 15pt;
}

footer {
    background-color: rgb(255, 229, 180); 
    color: rgb(70, 130, 180); 
    padding: 15px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
}

header {
    background-color: rgb(255, 229, 180); 
    color: rgb(70, 130, 180); 
    padding: 20px; 
    font-size: 25pt;
}
a {
    text-decoration: none
}